#copyright_symbol{
    font-size:1.5em;
    text-align: center;
}
.form-group label{
    font-weight: bold;
}

.col-sm-6 p{
    font-weight: bold;
}
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    margin: 0;
}

article,
footer,
header,
main,
nav,
summary {
    display: block;
}

[hidden] {
    display: none;
}

a {
    background-color: transparent;
}

a:active,
a:hover {
    outline: 0;
}

b,
strong {
    font-weight: 700;
}

h1 {
    margin: .67em 0;
    font-size: 2em;
}

img {
    border: 0;
}

button {
    margin: 0;
    font: inherit;
    color: inherit;
}

button {
    overflow: visible;
}

button {
    text-transform: none;
}

button {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled] {
    cursor: default;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

/*! Source: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css */

@media print {
    *,
    :after,
    :before {
        text-shadow: none!important;
        color: #000!important;
        background: 0 0!important;
        -webkit-box-shadow: none!important;
        box-shadow: none!important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: "(" attr(href) ") ";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100%!important;
    }

    h2,
    h3,
    p {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }

    .navbar {
        display: none;
    }

    .label {
        border: 1px solid #000;
    }
}

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url(../fonts/glyphicons-halflings-regular.eot);
    src: url(../fonts/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'), url(../fonts/glyphicons-halflings-regular.woff2) format('woff2'), url(../fonts/glyphicons-halflings-regular.woff) format('woff'), url(../fonts/glyphicons-halflings-regular.ttf) format('truetype'), url(../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format('svg');
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:after,
:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

button {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

a {
    text-decoration: none;
    color: #337ab7;
}

a:focus,
a:hover {
    text-decoration: underline;
    color: #23527c;
}

a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

img {
    vertical-align: middle;
}

.img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
    margin:auto;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
}

[role=button] {
    cursor: pointer;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

.h1,
.h2,
.h3,
h1,
h2,
h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.h4,
.h5,
.h6,
h4,
h5,
h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.h1,
h1 {
    font-size: 36px;
}

.h2,
h2 {
    font-size: 30px;
}

.h3,
h3 {
    font-size: 24px;
}

.h4,
h4 {
    font-size: 18px;
}

.h5,
h5 {
    font-size: 14px;
}

.h6,
h6 {
    font-size: 12px;
}

p {
    margin: 0 0 10px;
}

.text-center {
    text-align: center;
}

.page-header {
    margin: 40px 0 20px;
    padding-bottom: 9px;
    border-bottom: 1px solid #eee;
}

ul {
    margin-top: 0;
    margin-bottom: 10px;
}

ul ul {
    margin-bottom: 0;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

@media(min-width:768px) {
    .container {
        width: 750px;
    }
}

@media(min-width:992px) {
    .container {
        width: 970px;
    }
}

@media(min-width:1200px) {
    .container {
        width: 1170px;
    }
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
    min-height: 1px;
}

.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
    float: left;
}

.col-xs-12 {
    width: 100%;
}

.col-xs-11 {
    width: 91.66666667%;
}

.col-xs-10 {
    width: 83.33333333%;
}

.col-xs-9 {
    width: 75%;
}

.col-xs-8 {
    width: 66.66666667%;
}

.col-xs-7 {
    width: 58.33333333%;
}

.col-xs-6 {
    width: 50%;
}

.col-xs-5 {
    width: 41.66666667%;
}

.col-xs-4 {
    width: 33.33333333%;
}

.col-xs-3 {
    width: 25%;
}

.col-xs-2 {
    width: 16.66666667%;
}

.col-xs-1 {
    width: 8.33333333%;
}

.col-xs-offset-12 {
    margin-left: 100%;
}

.col-xs-offset-11 {
    margin-left: 91.66666667%;
}

.col-xs-offset-10 {
    margin-left: 83.33333333%;
}

.col-xs-offset-9 {
    margin-left: 75%;
}

.col-xs-offset-8 {
    margin-left: 66.66666667%;
}

.col-xs-offset-7 {
    margin-left: 58.33333333%;
}

.col-xs-offset-6 {
    margin-left: 50%;
}

.col-xs-offset-5 {
    margin-left: 41.66666667%;
}

.col-xs-offset-4 {
    margin-left: 33.33333333%;
}

.col-xs-offset-3 {
    margin-left: 25%;
}

.col-xs-offset-2 {
    margin-left: 16.66666667%;
}

.col-xs-offset-1 {
    margin-left: 8.33333333%;
}

.col-xs-offset-0 {
    margin-left: 0;
}

@media(min-width:768px) {
    .col-sm-1,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9 {
        float: left;
    }

    .col-sm-12 {
        width: 100%;
    }

    .col-sm-11 {
        width: 91.66666667%;
    }

    .col-sm-10 {
        width: 83.33333333%;
    }

    .col-sm-9 {
        width: 75%;
    }

    .col-sm-8 {
        width: 66.66666667%;
    }

    .col-sm-7 {
        width: 58.33333333%;
    }

    .col-sm-6 {
        width: 50%;
    }

    .col-sm-5 {
        width: 41.66666667%;
    }

    .col-sm-4 {
        width: 33.33333333%;
    }

    .col-sm-3 {
        width: 25%;
    }

    .col-sm-2 {
        width: 16.66666667%;
    }

    .col-sm-1 {
        width: 8.33333333%;
    }

    .col-sm-offset-12 {
        margin-left: 100%;
    }

    .col-sm-offset-11 {
        margin-left: 91.66666667%;
    }

    .col-sm-offset-10 {
        margin-left: 83.33333333%;
    }

    .col-sm-offset-9 {
        margin-left: 75%;
    }

    .col-sm-offset-8 {
        margin-left: 66.66666667%;
    }

    .col-sm-offset-7 {
        margin-left: 58.33333333%;
    }

    .col-sm-offset-6 {
        margin-left: 50%;
    }

    .col-sm-offset-5 {
        margin-left: 41.66666667%;
    }

    .col-sm-offset-4 {
        margin-left: 33.33333333%;
    }

    .col-sm-offset-3 {
        margin-left: 25%;
    }

    .col-sm-offset-2 {
        margin-left: 16.66666667%;
    }

    .col-sm-offset-1 {
        margin-left: 8.33333333%;
    }

    .col-sm-offset-0 {
        margin-left: 0;
    }
}

@media(min-width:992px) {
    .col-md-1,
    .col-md-10,
    .col-md-11,
    .col-md-12,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9 {
        float: left;
    }

    .col-md-12 {
        width: 100%;
    }

    .col-md-11 {
        width: 91.66666667%;
    }

    .col-md-10 {
        width: 83.33333333%;
    }

    .col-md-9 {
        width: 75%;
    }

    .col-md-8 {
        width: 66.66666667%;
    }

    .col-md-7 {
        width: 58.33333333%;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-5 {
        width: 41.66666667%;
    }

    .col-md-4 {
        width: 33.33333333%;
    }

    .col-md-3 {
        width: 25%;
    }

    .col-md-2 {
        width: 16.66666667%;
    }

    .col-md-1 {
        width: 8.33333333%;
    }

    .col-md-offset-12 {
        margin-left: 100%;
    }

    .col-md-offset-11 {
        margin-left: 91.66666667%;
    }

    .col-md-offset-10 {
        margin-left: 83.33333333%;
    }

    .col-md-offset-9 {
        margin-left: 75%;
    }

    .col-md-offset-8 {
        margin-left: 66.66666667%;
    }

    .col-md-offset-7 {
        margin-left: 58.33333333%;
    }

    .col-md-offset-6 {
        margin-left: 50%;
    }

    .col-md-offset-5 {
        margin-left: 41.66666667%;
    }

    .col-md-offset-4 {
        margin-left: 33.33333333%;
    }

    .col-md-offset-3 {
        margin-left: 25%;
    }

    .col-md-offset-2 {
        margin-left: 16.66666667%;
    }

    .col-md-offset-1 {
        margin-left: 8.33333333%;
    }

    .col-md-offset-0 {
        margin-left: 0;
    }
}

@media(min-width:1200px) {
    .col-lg-1,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9 {
        float: left;
    }

    .col-lg-12 {
        width: 100%;
    }

    .col-lg-11 {
        width: 91.66666667%;
    }

    .col-lg-10 {
        width: 83.33333333%;
    }

    .col-lg-9 {
        width: 75%;
    }

    .col-lg-8 {
        width: 66.66666667%;
    }

    .col-lg-7 {
        width: 58.33333333%;
    }

    .col-lg-6 {
        width: 50%;
    }

    .col-lg-5 {
        width: 41.66666667%;
    }

    .col-lg-4 {
        width: 33.33333333%;
    }

    .col-lg-3 {
        width: 25%;
    }

    .col-lg-2 {
        width: 16.66666667%;
    }

    .col-lg-1 {
        width: 8.33333333%;
    }

    .col-lg-offset-12 {
        margin-left: 100%;
    }

    .col-lg-offset-11 {
        margin-left: 91.66666667%;
    }

    .col-lg-offset-10 {
        margin-left: 83.33333333%;
    }

    .col-lg-offset-9 {
        margin-left: 75%;
    }

    .col-lg-offset-8 {
        margin-left: 66.66666667%;
    }

    .col-lg-offset-7 {
        margin-left: 58.33333333%;
    }

    .col-lg-offset-6 {
        margin-left: 50%;
    }

    .col-lg-offset-5 {
        margin-left: 41.66666667%;
    }

    .col-lg-offset-4 {
        margin-left: 33.33333333%;
    }

    .col-lg-offset-3 {
        margin-left: 25%;
    }

    .col-lg-offset-2 {
        margin-left: 16.66666667%;
    }

    .col-lg-offset-1 {
        margin-left: 8.33333333%;
    }

    .col-lg-offset-0 {
        margin-left: 0;
    }
}

caption {
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: left;
    color: #777;
}

label {
    display: inline-block;
    margin-bottom: 5px;
    max-width: 100%;
    font-weight: 700;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    padding: 6px 12px;
    border: 1px solid transparent;
    border-radius: 4px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    white-space: nowrap;
    vertical-align: middle;
    background-image: none;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -ms-user-select: none;
}

.btn:active.focus,
.btn:active:focus,
.btn:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.btn:focus,
.btn:hover {
    text-decoration: none;
    color: #333;
}

.btn:active {
    outline: 0;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}

.btn[disabled] {
    opacity: .65;
    -webkit-box-shadow: none;
    box-shadow: none;
    cursor: not-allowed;
}

.btn-link {
    border-radius: 0;
    font-weight: 400;
    color: #337ab7;
}

.btn-link,
.btn-link:active,
.btn-link[disabled] {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn-link,
.btn-link:active,
.btn-link:focus,
.btn-link:hover {
    border-color: transparent;
}

.btn-link:focus,
.btn-link:hover {
    text-decoration: underline;
    color: #23527c;
    background-color: transparent;
}

.btn-link[disabled]:focus,
.btn-link[disabled]:hover {
    text-decoration: none;
    color: #777;
}

.btn-lg {
    padding: 10px 16px;
    border-radius: 6px;
    font-size: 18px;
    line-height: 1.3333333;
}

.btn-sm {
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 12px;
    line-height: 1.5;
}

.btn-xs {
    padding: 1px 5px;
    border-radius: 3px;
    font-size: 12px;
    line-height: 1.5;
}

.btn-block {
    display: block;
    width: 100%;
}

.btn-block + .btn-block {
    margin-top: 5px;
}

.collapse {
    display: none;
}

.dropdown {
    position: relative;
}

.dropdown-toggle:focus {
    outline: 0;
}

.dropdown-header {
    display: block;
    padding: 3px 20px;
    font-size: 12px;
    line-height: 1.42857143;
    white-space: nowrap;
    color: #777;
}

.nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

.nav > li {
    display: block;
    position: relative;
}

.nav > li > a {
    display: block;
    position: relative;
    padding: 10px 15px;
}

.nav > li > a:focus,
.nav>li>a:hover {
    text-decoration: none;
    background-color: #eee;
}

.nav > li > a>img {
    max-width: none;
}

.navbar {
    position: relative;
    margin-bottom: 20px;
    min-height: 50px;
    border: 1px solid transparent;
}

@media(min-width:768px) {
    .navbar {
        border-radius: 4px;
    }
}

@media(min-width:768px) {
    .navbar-header {
        float: left;
    }
}

.navbar-collapse {
    padding-right: 15px;
    padding-left: 15px;
    border-top: 1px solid transparent;
    overflow-x: visible;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
    -webkit-overflow-scrolling: touch;
}

@media(min-width:768px) {
    .navbar-collapse {
        width: auto;
        border-top: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .navbar-collapse.collapse {
        display: block!important;
        height: auto!important;
        padding-bottom: 0;
        overflow: visible!important;
    }
}

.container > .navbar-collapse,
.container > .navbar-header {
    margin-right: -15px;
    margin-left: -15px;
}

@media(min-width:768px) {
    .container > .navbar-collapse,
    .container > .navbar-header {
        margin-right: 0;
        margin-left: 0;
    }
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}

.navbar-brand:focus,
.navbar-brand:hover {
    text-decoration: none;
}

.navbar-brand > img {
    display: block;
}

@media(min-width:768px) {
    .navbar > .container .navbar-brand {
        margin-left: -15px;
    }
}

.navbar-toggle {
    float: right;
    position: relative;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    padding: 9px 10px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: transparent;
    background-image: none;
}

.navbar-toggle:focus {
    outline: 0;
}

.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}

.navbar-toggle .icon-bar + .icon-bar {
    margin-top: 4px;
}

@media(min-width:768px) {
    .navbar-toggle {
        display: none;
    }
}

.navbar-nav {
    margin: 7.5px -15px;
}

.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
}

@media(min-width:768px) {
    .navbar-nav {
        float: left;
        margin: 0;
    }

    .navbar-nav > li {
        float: left;
    }

    .navbar-nav > li > a {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

.navbar-btn {
    margin-top: 8px;
    margin-bottom: 8px;
}

.navbar-btn.btn-sm {
    margin-top: 10px;
    margin-bottom: 10px;
}

.navbar-btn.btn-xs {
    margin-top: 14px;
    margin-bottom: 14px;
}

.navbar-text {
    margin-top: 15px;
    margin-bottom: 15px;
}

@media(min-width:768px) {
    .navbar-text {
        float: left;
        margin-right: 15px;
        margin-left: 15px;
    }
}

.label {
    display: inline;
    padding: .2em .6em .3em;
    border-radius: .25em;
    text-align: center;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    white-space: nowrap;
    vertical-align: baseline;
    color: #fff;
}

a.label:focus,
a.label:hover {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.label:empty {
    display: none;
}

.btn .label {
    position: relative;
    top: -1px;
}

@-webkit-keyframes progress-bar-stripes {
    from {
        background-position: 40px 0;
    }

    to {
        background-position: 0 0;
    }
}

@-o-keyframes progress-bar-stripes {
    from {
        background-position: 40px 0;
    }

    to {
        background-position: 0 0;
    }
}

@keyframes progress-bar-stripes {
    from {
        background-position: 40px 0;
    }

    to {
        background-position: 0 0;
    }
}

.container:after,
.container:before,
.nav:after,
.nav:before,
.navbar-collapse:after,
.navbar-collapse:before,
.navbar-header:after,
.navbar-header:before,
.navbar:after,
.navbar:before,
.row:after,
.row:before {
    content: " ";
    display: table;
}

.container:after,
.nav:after,
.navbar-collapse:after,
.navbar-header:after,
.navbar:after,
.row:after {
    clear: both;
}

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.list-partenaires {
    margin-top: 20px;
    text-align: center;
    list-style-type: none;
}

.list-partenaires li a {
    color: #000;
}

#bloc-8 p {
    font-size: 1.5em;
}

.texte-centré {
    position: relative;
    margin: auto;
    margin-bottom: 20px;
    max-width: 700px;
    text-align: center;
    font-family: protest;
    font-size: 1.8em;
    font-weight: 700;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a,
button {
    outline: 0!important;
    transition: all .3s ease-in-out;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

.text2 {
    font-size: .9em;
    font-style: italic;
    font-weight: 400;
}

.bloc {
    clear: both;
    position: relative;
    width: 100%;
    padding: 0 50px;
    background: 50% 50% no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.bloc .container {
    padding-right: 0;
    padding-left: 0;
}

.bloc-lg {
    padding: 100px 50px;
}

.bloc-md {
    padding: 50px;
}

.bloc-sm {
    padding: 20px 50px;
}

.bg-b-edge,
.bg-br-edge,
.bg-center,
.bg-l-edge,
.bg-r-edge,
.bg-repeat,
.bg-t-edge {
    -webkit-background-size: auto!important;
    -moz-background-size: auto!important;
    background-size: auto!important;
    -o-background-size: auto!important;
}

.bg-repeat {
    background: repeat;
}

.bg-t-edge {
    background: top no-repeat;
}

.bloc-bg-texture::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: 2px 2px;
}

.texture-paper::before {
    background: url(img/texture-paper.png);
    background-size: 280px 280px;
}

.b-parallax {
    background-attachment: fixed;
}

.d-bloc {
    color: rgba(255,255,255,.7);
}

.d-bloc button:hover {
    color: rgba(255,255,255,.9);
}

.d-bloc .a-btn,
.d-bloc .navbar a,
.d-bloc .navbar-brand,
.d-bloc a .icon-lg,
.d-bloc a .icon-md,
.d-bloc a .icon-sm,
.d-bloc h1 a,
.d-bloc h2 a,
.d-bloc h3 a,
.d-bloc h4 a,
.d-bloc h5 a,
.d-bloc h6 a,
.d-bloc p a {
    color: rgba(255,255,255,.6);
}

.d-bloc .a-btn:hover,
.d-bloc .navbar a:hover,
.d-bloc .navbar-brand:hover,
.d-bloc a:hover .icon-lg,
.d-bloc a:hover .icon-md,
.d-bloc a:hover .icon-sm,
.d-bloc h1 a:hover,
.d-bloc h2 a:hover,
.d-bloc h3 a:hover,
.d-bloc h4 a:hover,
.d-bloc h5 a:hover,
.d-bloc h6 a:hover,
.d-bloc p a:hover {
    color: rgba(255,255,255,1);
}

.d-bloc .navbar-toggle .icon-bar {
    background: rgba(255,255,255,1);
}

.l-bloc {
    color: rgba(0,0,0,.5);
}

.l-bloc button:hover {
    color: rgba(0,0,0,.7);
}

.l-bloc .a-btn,
.l-bloc .navbar a,
.l-bloc .navbar-brand,
.l-bloc a .icon-lg,
.l-bloc a .icon-md,
.l-bloc a .icon-sm,
.l-bloc h1 a,
.l-bloc h2 a,
.l-bloc h3 a,
.l-bloc h4 a,
.l-bloc h5 a,
.l-bloc h6 a,
.l-bloc p a {
    color: rgba(0,0,0,.6);
}

.l-bloc .a-btn:hover,
.l-bloc .navbar a:hover,
.l-bloc .navbar-brand:hover,
.l-bloc a:hover .icon-lg,
.l-bloc a:hover .icon-md,
.l-bloc a:hover .icon-sm,
.l-bloc h1 a:hover,
.l-bloc h2 a:hover,
.l-bloc h3 a:hover,
.l-bloc h4 a:hover,
.l-bloc h5 a:hover,
.l-bloc h6 a:hover,
.l-bloc p a:hover {
    color: rgba(0,0,0,1);
}

.l-bloc .navbar-toggle .icon-bar {
    color: rgba(0,0,0,.6);
}

.voffset {
    margin-top: 30px;
}

.voffset-lg {
    margin-top: 80px;
}

.row-no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.row.row-no-gutters > [class*=" col-"],
.row.row-no-gutters > [class^=col-] {
    padding-right: 0;
    padding-left: 0;
}

#bloc-1-hero h1 {
    font-size: 32px;
}

.navbar {
    z-index: 1;
    margin-bottom: 0;
}

.navbar-brand {
    height: auto;
    padding: 3px 15px;
    font-size: 25px;
    font-weight: 400;
    font-weight: 600;
    line-height: 44px;
}

.navbar-brand img {
    display: inline;
    margin: 0 5px 0 0;
    max-height: 200px;
}

.navbar-brand img[src$=svg] {
    min-width: 100px;
}

.nav-center .navbar-brand img {
    margin: 0;
}

.navbar .nav {
    z-index: 1;
    float: right;
    margin-right: -16px;
    padding-top: 2px;
}

.nav > li {
    float: left;
    margin-top: 4px;
    font-size: 16px;
}

.nav > li a:focus,
.nav > li a:hover {
    background: 0 0;
}

.navbar-toggle {
    margin: 10px 10px 0 0;
    border: 0;
}

.navbar-toggle:hover {
    background: 0 0!important;
}

.navbar-toggle .icon-bar {
    width: 26px;
    background-color: rgba(0,0,0,.5);
}

@media(min-width:768px) {
    .site-navigation {
        position: absolute;
        top: 50%;
        right: 20px;
        -webkit-transform: translateY(-50%);
        transform: translate(0,-50%);
    }

    .nav-center {
        text-align: center;
    }

    .nav-center .navbar-header {
        width: 100%;
    }

    .nav-center .nav > li,
    .nav-center .navbar-brand,
    .nav-center .navbar-header {
        display: inline-block;
        float: none;
    }

    .nav-center .site-navigation {
        position: relative;
        right: 0;
        width: 100%;
        margin-top: 20px;
        margin-right: 0;
    }
}

.nav > li > .dropdown a {
    display: block;
    padding: 14px 15px;
    background: 0 0!important;
}

.mg-md {
    margin-top: 10px;
    margin-bottom: 20px;
}

.mg-lg {
    margin-top: 10px;
    margin-bottom: 40px;
}

.btn {
    margin: 0 5px 5px 0;
}

.btn-d,
.btn-d:focus,
.btn-d:hover {
    color: #fff;
    background: rgba(0,0,0,.3);
}

button {
    outline: 0!important;
}

.btn-rd {
    border-radius: 40px;
}

.btn-clean {
    border: 1px solid rgba(0,0,0,.08);
    border-bottom-color: rgba(0,0,0,.1);
    text-shadow: 0 1px 0 rgba(0,0,1,.1);
    box-shadow: 0 1px 3px rgba(0,0,1,.25), inset 0 1px 0 0 rgba(255,255,255,.15);
}

.icon-md {
    font-size: 30px!important;
}

.icon-lg {
    font-size: 60px!important;
}

.sm-shadow {
    text-shadow: 0 1px 2px rgba(0,0,0,.3);
}

a[data-lightbox] {
    display: block;
    position: relative;
    text-align: center;
}

a[data-lightbox]:hover::before {
    content: "+";
    z-index: 1;
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    margin-left: -25px;
    border-radius: 50%;
    font-family: HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial;
    font-size: 32px;
    font-weight: 100;
    color: #fff;
    background: rgba(0,0,0,.6);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

a[data-lightbox]:hover img {
    opacity: .6;
    -webkit-animation-fill-mode: none;
    animation-fill-mode: none;
}

.lightbox-caption {
    position: absolute;
    right: 15px;
    bottom: 5px;
    left: 15px;
    padding: 20px;
    color: #fff;
    background: rgba(0,0,0,.5);
}

.snapshot-lb .lightbox-caption {
    padding: 0;
    color: rgba(0,0,0,.5);
    background: 0 0;
}

.btn,
a,
h1,
h2,
h3,
h4,
h5,
h6,
label,
p {
    font-family: helvetica;
    font-weight: 400;
    color: #575757;
}

.container {
    max-width: 1000px;
}

.hero-bloc-text {
    font-size: 38px;
}

.tight-width-whitespace {
    margin: auto auto auto auto;
    max-width: 600px;
}

.h1 {
    font-family: "Open Sans";
    font-size: 20px;
}

.cta-hero {
    margin-top: 22px;
    padding: 12px 28px 12px 28px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    color: #fff!important;
}

.social {
    margin: auto auto auto auto;
    max-width: 400px;
}

h2 {
    font-size: 22px;
    line-height: 1.4em;
}

h3 {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    color: #333!important;
}

.med-width-whitespace {
    margin: auto auto auto auto;
    max-width: 800px;
    box-shadow: 0 0 0 #000;
}

h1 {
    color: #333!important;
}

h4 {
    color: #333!important;
}

.icons {
    margin-top: 24px;
    margin-bottom: 14px;
}

.white {
    color: #fff!important;
}

.portfolio-thumb {
    margin-bottom: 24px;
}

.portfolio-row {
    margin-top: 50px;
    margin-bottom: 44px;
}

.black-background {
    padding: 40px 40px 40px 40px;
    background-color: rgba(165,147,99,.7);
}

.bold-link {
    text-decoration: underline!important;
    font-size: 1.5em;
    font-weight: 900;
}

.bgc-white {
    background-color: #fff;
}

.bgc-dark-slate-blue {
    background-color: #364577;
}

.bgc-atomic-tangerine {
    background-color: #9e674e;
}

.tc-white {
    color: #d9ff0b!important;
}

.col-sm-12 span {
    font-size: 1.5em;
    color: #fff;
    
}

.btn-atomic-tangerine {
    color: #fff!important;
    background: #9e674e;
}

.btn-atomic-tangerine:hover {
    color: #fff!important;
    background: #c27956!important;
}

.ltc-white {
    color: #fff!important;
}

.ltc-white:hover {
    color: #ccc!important;
}

.ltc-atomic-tangerine {
    color: #f3976c!important;
}

.ltc-atomic-tangerine:hover {
    color: #c27956!important;
}

.icon-dark-slate-blue {
    border-color: #364577!important;
    color: #364577!important;
}

.bg-lines-h2-bg {
    background-image: url(img/lines-h2-bg.png);
}

.bg-banniere {
    background-image: url(img/travail-bureau.jpg);
}

.bg-presentation {
    background-image: url(img/prise-de-notes.jpg);
}

@media(max-width:1024px) {
    .bloc {
        padding-right: 20px;
        padding-left: 20px;
    }
}

@media(max-width:992px) and (min-width:768px) {
    .navbar .nav {
        max-width: 80%;
    }

    .nav-center.navbar .nav {
        max-width: 100%;
    }
}

@media only screen and (min-width:768px) and (max-width:1024px) and (orientation:landscape) {
    .b-parallax {
        background-attachment: scroll;
    }
}

@media only screen and (min-width:1024px) and (max-width:1366px) and (-webkit-min-device-pixel-ratio:1.5) {
    .b-parallax {
        background-attachment: scroll;
    }
}

@media(max-width:991px) {
    .container {
        width: 100%;
    }

    .b-parallax {
        background-attachment: scroll;
    }

    #hero-bloc,
    .page-container {
        position: relative;
        overflow-x: hidden;
    }


}

@media(max-width:767px) {
    .page-container {
        position: relative;
        overflow-x: hidden;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        padding-right: 10px!important;
        padding-left: 10px!important;
    }

    .b-parallax {
        background-attachment: scroll;
    }

    .navbar .nav {
        float: none!important;
        padding-top: 0;
        border-top: 1px solid rgba(0,0,0,.2);
    }

    .navbar.row {
        margin-right: 0;
        margin-left: 0;
    }

    .site-navigation {
        position: inherit;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
    }

    .nav > li {
        width: 100%;
        margin-top: 0;
        padding-left: 15px;
        border-bottom: 1px solid rgba(0,0,0,.1);
        text-align: left;
        background: rgba(53,248,4,.05);
    }

    .nav > li:hover {
        background: rgba(0,0,0,.08);
    }

    #hero-bloc .navbar .nav {
        background: rgba(0,0,0,.8);
    }

    #hero-bloc .navbar .nav a {
        color: rgba(255,255,255,.6);
    }

    .hero {
        padding: 50px 0;
    }

    .hero-nav {
        right: -1px;
        left: -1px;
    }

    .navbar-collapse {
        padding: 0;
        overflow-x: hidden;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .navbar-brand img {
        width: auto;
        max-height: 40px;
    }

    .bloc {
        padding-right: 0;
        padding-left: 0;
    }

    .bloc-lg {
        padding: 40px 0;
    }

    .bloc-md,
    .bloc-sm {
        padding-right: 0;
        padding-left: 0;
    }

    .a-block {
        padding: 0 10px;
    }

    .voffset {
        margin-top: 5px;
    }

    .voffset-md {
        margin-top: 20px;
    }

    .voffset-lg {
        margin-top: 30px;
    }
}

@media(max-width:400px) {
    .bloc {
        padding-right: 0;
        padding-left: 0;
    }
}

/*!
 *  Font Awesome 4.7.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */

@font-face {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/fontawesome-webfont.eot?v=4.7.0);
    src: url(../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0) format('embedded-opentype'), url(../fonts/fontawesome-webfont.woff2?v=4.7.0) format('woff2'), url(../fonts/fontawesome-webfont.woff?v=4.7.0) format('woff'), url(../fonts/fontawesome-webfont.ttf?v=4.7.0) format('truetype'), url(../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular) format('svg');

}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fa-lg {
    font-size: 1.33333333em;
    line-height: .75em;
    vertical-align: -15%;
}

.fa-ul {
    margin-left: 2.14285714em;
    padding-left: 0;
    list-style-type: none;
}

.fa-ul > li {
    position: relative;
}

.fa-li {
    position: absolute;
    top: .14285714em;
    left: -2.14285714em;
    width: 2.14285714em;
    text-align: center;
}

.fa-li.fa-lg {
    left: -1.85714286em;
}

@-webkit-keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

.fa-repeat:before {
    content: "\f01e";
}

.fa-list-alt:before {
    content: "\f022";
}

.fa-bold:before {
    content: "\f032";
}

.fa-text-height:before {
    content: "\f034";
}

.fa-text-width:before {
    content: "\f035";
}

.fa-list:before {
    content: "\f03a";
}

.fa-image:before,
.fa-photo:before {
    content: "\f03e";
}

.fa-edit:before {
    content: "\f044";
}

.fa-twitter:before {
    content: "\f099";
}

.fa-facebook:before {
    content: "\f09a";
}

.fa-github:before {
    content: "\f09b";
}

.fa-link:before {
    content: "\f0c1";
}

.fa-list-ul:before {
    content: "\f0ca";
}

.fa-github-alt:before {
    content: "\f113";
}

.fa-html5:before {
    content: "\f13b";
}

.fa-css3:before {
    content: "\f13c";
}

.fa-instagram:before {
    content: "\f16d";
}

.fa-dribbble:before {
    content: "\f17d";
}

.fa-header:before {
    content: "\f1dc";
}

.fa-edge:before {
    content: "\f282";
}

.fa-fa:before {
    content: "\f2b4";
}

.fa-id-card:before {
    content: "\f2c2";
}

.fa-s15:before {
    content: "\f2cd";
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
}

@font-face {
    font-family: et-line;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/et-line.eot);
    src: url(../fonts/et-line.eot?#iefix) format('embedded-opentype'), url(../fonts/et-line.woff) format('woff'), url(../fonts/et-line.ttf) format('truetype'), url(../fonts/et-line.svg#et-line) format('svg');

}

.et-icon-browser,
.et-icon-dribbble,
.et-icon-edit,
.et-icon-facebook,
.et-icon-presentation,
.et-icon-target,
.et-icon-twitter {
    display: inline-block;
    text-transform: none;
    font-family: et-line;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.et-icon-browser:before {
    content: "\e00c";
}

.et-icon-presentation:before {
    content: "\e00e";
}

.et-icon-edit:before {
    content: "\e01c";
}

.et-icon-target:before {
    content: "\e04e";
}

.et-icon-facebook:before {
    content: "\e05d";
}

.et-icon-twitter:before {
    content: "\e05e";
}

.et-icon-dribbble:before {
    content: "\e063";
}